.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.todo-panel {
  margin-top: 30px;
}

.add-item {
  margin-top: 15px;
}

/* item container */
.panel {
  transition: box-shadow 0.2s cubic-bezier(.25,.8,.25,1);
  border-width: 2px;
}
.panel.active {
  border-style: dashed;

}
.panel-danger.active {
  border-color: #d43f3a;
}

.panel-info.active {
  border-color: #46b8da;
}

.panel-warning.active {
  border-color: #eea236;
}

.panel-success.active {
  border-color: #4cae4c;
}
.panel-heading {
  user-select: none;
}
.empty-box {
  cursor: not-allowed;
  user-select: none;
}

.list-group-item {
  padding: 15px;
  text-align: left;
  cursor: move;
}
.item-buttons {
  position: absolute;
  top: 8px;
  right: 15px;
}
.item-buttons Button {
  margin-left: 10px;
}
.empty-box {
  text-align: center;
  opacity: .5;
}
.draggin {
  opacity: .3;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
